Nav{
    /* background-color: rgb(229, 241, 241); */
    display: flex;
    width: 100%;
    justify-content: center;
}

#toggler-button{
    display: none;
}

@media (max-width: 767.98px)  { 
    #nav-item{
        text-align: center;
        border-style: solid;
        border-radius: .25rem;
        margin: 5px 0 0 0;
    }  
    #toggler-button{
        display: block;
    }
}

#nav-bar{
    display:flex;
    justify-content:center;
}

.navbar-toggler{
    width: 100%;
}

/* #nav-button{
    margin-right: 10%;
    margin-top: 1%;
    width: 50%;
} */
