    
   #center-label{
    text-align: center;
}

#description-animal-form{
    display: block;
}

#div-button{
    text-align: center;
    margin: 3vh 0 ;
}

#result-img-cropper{
    width: 300px;
    height: 300px;
    /* margin-right: 2vh; */
    position: relative;
    margin:4vh;
}

#text-img{
    text-align: center;
}

#btn-animal-form{
    width: 40%;
    text-align: center;
}

@media (min-width: 479px){  
    /* #center-form-group{
        display: inline-block;
        margin-right:2%;
    }
    #col-animal-form{
        display:contents;
        
    } */
    #center-label{
        display:block;
    }
}

@media (max-width: 479px){    
    #center-form-group{
        display: table;
        margin: 0 auto;
    }
    
    #form-castrated{
        display:grid;
    }    
    #result-img-cropper{
        margin:1vh; 
    }
}

#animal-form{
    display:block;
    width:100%;
    overflow: hidden;
}




@media (max-width: 767.98px) { 
    #result-img-cropper{
        width:100%;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 800.98px) { 
    #result-img-cropper{
        width:100%;
        height: auto;
    }
}


@media (min-width: 992px){
    #result-img-cropper{
        width:100%;
        height: auto;
    }
}