

#login-form{
    /* background-color: #bbcecb; */
    align-items: center;
    align-self: center;
    display:block;
    /* justify-content:space-around;
    display:flex-inline; */
}

#button-login{
    width:20%;
}

#teste{
    display: none;
}